.advantages {
  padding: 0 20px 45px;
}

.advantages__list {
  @include ul-reset();
}

.advantages__caption {
  margin: 0;
  margin-bottom: 31px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;
  min-height: 54px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 60px;
    height: 60px;
    background-position: 50%;
    left: 0;
    top: -3px;
  }

  &--good::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-size: 50px auto;
  }

  &--composition::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: 50px auto;
  }

  &--food::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-size: 50px auto;
  }

  &--time::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: 50px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--good::after {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--composition::after {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--food::after {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--time::after {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 30px 102px;

    &--line {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: test;
  }

  .advantages__caption {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .advantages__item {
    width: 260px;
    padding-left: 0;
    padding-top: 111px;
    margin-bottom: 133px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 124px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &::before {
      content: counter(test);
      counter-increment: test;
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      top: -40px;
      right: 13px;
      color: #f2f2f2;
      z-index: -1;
    }

    &:first-child::before {
      right: 31px;
    }

    &::after {
      width: 80px;
      height: 80px;
      left: 0;
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0;

    &--line {
      border-bottom: 0;
    }
  }

  .advantages__wrap {
    width: $desktop-width;
    padding: 0 40px 85px;
    margin: 0 auto;
  }

  .advantages__item {
    width: 246px;
    margin-left: 78px;

    &::before {
      right: -2px;
    }

    &:first-child::before {
      right: 17px;
    }

    &:nth-child(odd) {
      margin-left: 78px;
    }

    &:nth-child(4n+1) {
      margin-left: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
