.button-link {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  padding: 12px;

  &--show-more {
    color: #444444;
    background-color: #f2f2f2;
  }

  &--screen {
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
  }

  &--submit {
    width: 280px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .button-link {
    font-size: 20px;

    &--screen {
      font-size: 20px;
      line-height: 20px;
      padding: 15px 15px 16px;
    }

    &--submit {
      font-size: 20px;
      line-height: 20px;
      width: 283px;
      padding: 16px;
      margin-left: 71px;
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .button-link {
    &--additional {
      width: 245px;
    }

    &--submit {
      width: 570px;
      margin-left: 40px;
    }
  }
}
