.contacts {
  font-size: 14px;
  line-height: 20px;
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__container {
  padding: 30px 20px 25px;
}

.contacts__content {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .contacts {
    font-size: 16px;
  }

  .contacts__container {
    padding: 60px 30px;
  }

  .contacts__content {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    background-color: #ffffff;
    position: absolute;
    margin: auto auto;
  }
}
