.example {
  padding: 17px 0 35px;
  background-color: #f2f2f2;
  color: #111111;
}

.example__container {
  margin-bottom: 34px;
  padding: 0 20px;
}

.example__caption {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-bottom: 24px;
  width: 270px;
}

.example__table {
  margin-bottom: 19px;
  text-align: center;
  border-spacing: 0;
  width: 280px;
}

.example__table tbody {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.example__table-line {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;

  &--td {
    text-transform: uppercase;
  }

  &--th {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
  }
}

.example__line-item {
  width: 124px;
  position: relative;
  display: block;

  &--td {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding-bottom: 8px;
    padding-top: 15px;
  }

  &--th {
    padding: 0 22px;
    font-weight: 400;
  }

  &--th::before,
  &--th::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    border: 1px solid #cdcdcd;
    top: 0;
  }

  &--th::before {
    border-radius: 0 0 0 3px;
    border-top: 0;
    border-right: 0;
    left: 0;
  }

  &--th::after {
    border-radius: 0 0 3px 0;
    border-top: 0;
    border-left: 0;
    right: 0;
  }
}

.example__spending {
  margin: 0;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.example__img {
  width: 320px;
  margin-bottom: 30px;

  &--after {
    display: none;
  }
}

.example__control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__button {
  display: none;
}

.example__switch {
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  margin: 0 18px;

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 3px;
    top: 3px;
    left: 4px;
  }
}

.example__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;
    padding-top: 43px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  .example__wrap {
    width: 100%;
  }

  .example__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 233px;
    padding: 0 30px;
  }

  .example__caption {
    margin-bottom: 64px;
    font-size: 60px;
    width: 100%;
  }

  .example__description {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    width: 700px;
  }

  .example__spending {
    margin-left: auto;
    font-size: 20px;
    width: 175px;
    text-align: right;
    padding-top: 13px;
  }

  .example__br {
    display: block;
    margin-top: 9px;
  }

  .example__table {
    width: 385px;
  }

  .example__table tbody {
    width: 385px;
  }

  .example__table-line {
    font-size: 30px;
    line-height: 37px;
    justify-content: flex-start;
    width: 385px;

    &--th {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .example__line-item {
    margin-left: 43px;
    width: 161px;

    &--td {
      padding-bottom: 12px;
    }

    &--th {
      padding: 0;
    }

    &--th::after,
    &--th::before {
      height: 8px;
      width: 7px;
    }

    &--th:first-child::after,
    &--th:first-child::before {
      width: 20px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .example__slider {
    width: 100%;
    padding: 0 10px 70px 47px;
    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__control {
    justify-content: flex-start;
    padding-left: 52px;
  }

  .example__img {
    width: 689px;
    margin-bottom: 15px;
    margin-top: -170px;
  }

  .example__label {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #b8b8b8;

    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .example__switch {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    border-radius: 2.5px;
    margin: 0 23px;

    &::after {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-shadow: inset 0 0 0 13px #ffffff, 0 2px 5px rgba(0, 0, 0, 0.15);
      top: -14px;
      left: 198px;
    }

    &:hover::after,
    &:focus::after {
      box-shadow: inset 0 0 0 13px #ffffff, 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    &:active::after {
      box-shadow: inset 0 0 0 2px #68b738, inset 0 0 0 13px #ffffff, 0 3px 5px rgba(0, 0, 0, 0.15);
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 177px, transparent 177px),
      linear-gradient(to right, #f2f2f2 60%, #eaeaea 60%);
  }

  .example__wrap {
    width: $desktop-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__caption {
    margin-bottom: 145px;
    width: 100%;
  }

  .example__description {
    width: 85%;
    margin-bottom: 68px;
  }

  .example__container {
    width: 560px;
    padding-left: 40px;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .example__spending {
    margin-left: 0;
    width: 100%;
    text-align: left;
    padding-top: 0;
  }

  .example__br {
    display: inline;
    margin-top: 0;
    margin-left: 60px;
  }

  .example__table {
    margin-bottom: 55px;
  }

  .example__slider {
    margin-top: 135px;
    width: 740px;
    padding: 0 0 68px 0;
    background-image: linear-gradient(to right, #f2f2f2 56%, #eaeaea 56%);
    min-height: 461px;
  }

  .example__img {
    margin-bottom: 38px;
    margin-top: -191px;
    margin-left: 49px;
  }

  .example__label {
    padding-bottom: 7px;
  }

  .example__control {
    padding: 0 0 0 130px;
  }
}
