.extra {
  padding: 29px 0 36px;
}

.extra__container-h {
  position: relative;
  margin-bottom: 33px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    top: 13px;
    z-index: -1;
  }

  &::after {
    width: 100vw;
    right: 0;
  }

  &::before {
    width: calc((100vw - 300px) / 2);
    left: 309px;
  }
}

.extra__caption {
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  background-color: #ffffff;
  width: 267px;
}

.extra__list {
  @include ul-reset();
  padding: 0 20px;
  margin-bottom: 36px;
}

.extra__container {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .extra {
    padding: 29px 0 77px;
  }

  .extra__container-h {
    margin-bottom: 80px;

    &::after,
    &::before {
      top: 22px;
    }

    &::before {
      width: calc((100vw - 750px) / 2);
      left: 757px;
    }
  }

  .extra__caption {
    margin-left: 30px;
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;
    width: 411px;
  }

  .extra__list {
    padding: 0 30px;
    margin-bottom: 68px;
  }

  .extra__container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    padding: 0;
    width: $desktop-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 86px;
  }

  .extra__list {
    padding: 0 0 0 40px;
    margin-bottom: 0;
  }

  .extra__container {
    padding: 0 40px 0 0;
    width: 285px;
    margin-left: auto;
  }

  .extra__container-h {
    width: 100%;

    &::before {
      width: calc((100vw - 1277px) / 2);
      left: 1280px;
    }
  }

  .extra__caption {
    padding: 0 30px 0 40px;
    width: 414px;
    margin-left: 0;
  }
}
