.food-categories__list {
  @include ul-reset();
  padding: 0 20px 17px;
}

.food-categories__item {
  background-color: #f2f2f2;
  padding: 24px 20px 18px;
  margin-bottom: 20px;
  min-height: 266px;

  &:last-child {
    margin-bottom: 0;
  }
}

.food-categories__caption {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
  padding: 7px 0 0;
  padding-left: 70px;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    left: 0;
    top: 0;
  }

  &--slim::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    width: 35px;
    height: 49px;
    left: 8px;
    top: -3px;
    z-index: 1;
  }

  &--pro::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    width: 67px;
    height: 28px;
    left: -9px;
    top: 11px;
    z-index: 1;
  }
}

.food-categories__content {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding-bottom: 22px;
  margin-bottom: 20px;

  &--line {
    border-bottom: 1px solid #d9d9d9;
  }
}

.food-categories__button {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  padding-right: 49px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    right: 13px;
    top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .food-categories__list {
    padding: 0 30px 47px;
  }

  .food-categories__item {
    padding: 76px 270px 60px 53px;
    margin-bottom: 31px;
    position: relative;

    &--pro {
      padding-right: 312px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #68b738;
      right: 62px;
      top: 91px;
    }

    &--slim::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-cat-slim.svg");
      background-position: 0 0;
      width: 140px;
      height: 194px;
      right: 91px;
      top: 79px;
      z-index: 1;
    }

    &--pro::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-cat-pro.svg");
      background-position: 0 0;
      width: 268px;
      height: 112px;
      right: 28px;
      top: 136px;
      z-index: 1;
    }
  }

  .food-categories__caption {
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 24px;
    padding: 0;

    &::after,
    &::before {
      display: none;
    }
  }

  .food-categories__content {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 56px;

    &--line {
      border-bottom: 0;
    }
  }

  .food-categories__button {
    padding-right: 60px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 10px;
      right: 14px;
    }

    &:hover::after,
    &:focus::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      width: 33px;
      right: 5px;
    }

    &:active::after,
    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .food-categories__list {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 40px 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .food-categories__item {
    width: 570px;
    padding: 47px 52px 60px;

    &::after,
    &::before {
      display: none;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  .food-categories__caption {
    padding-left: 162px;
    padding-top: 30px;
    margin-bottom: 73px;

    &::after {
      display: block;
      width: 100px;
      height: 100px;
      left: 0;
      top: 0;
    }

    &--slim::before {
      display: block;
      width: 70px;
      height: 97px;
      left: 13px;
      top: -7px;
    }

    &--pro::before {
      display: block;
      width: 134px;
      height: 56px;
      left: -17px;
      top: 22px;
    }
  }

  .food-categories__content {
    margin-bottom: 31px;
  }
}
