.logo-text {
  width: 128px;
  height: 24px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .logo-text {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
