.main-header {
  padding-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  min-height: 66px;
}

.main-header__conteiner {
  margin-bottom: 16px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main-header__navigation {
  border-bottom: 1px solid #e6e6e6;
}

.main-header__burgers {
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  &--opened-js {
    background-image: url("../img/icon-close.svg");
    width: 18px;
    margin-right: 6px;
  }

  &--nojs {
    display: none;
  }
}

.main-header__logo-link {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 24px 30px 0;
    margin-bottom: 59px;

    &--catalog {
      margin-bottom: 39px;
    }
  }

  .main-header__conteiner {
    width: auto;
    margin-bottom: 0;
    padding: 0;
  }

  .main-header__navigation {
    border-bottom: 0;
    align-items: center;
  }

  .main-header__burgers {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 54px 0 0;
    width: 100%;
    margin-bottom: 75px;

    &--form {
      margin-bottom: 75px;
    }

    &--index {
      position: absolute;
      z-index: 2;
      top: 0;
    }
  }

  .main-header__navigation {
    padding: 0 40px;
    width: $desktop-width;
    margin: 0 auto;
  }
}
