.menu-list {
  @include ul-reset();
  width: 100%;
  color: #111111;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.menu-list__item {
  text-align: center;
  text-transform: uppercase;

  &--line {
    border-top: 1px solid #e6e6e6;
  }
}

.menu-list__link {
  display: block;
  padding: 12px;
}

@media (min-width: 768px) {
  .main-header__navigation {
    display: flex;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    width: auto;
  }

  .menu-list__item {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }

    &--line {
      border-top: none;
    }
  }

  .menu-list__link {
    padding: 12px 0;

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }
}
