.menu-list {
  @include ul-reset();
  width: 100%;
  color: #111111;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.menu-list__item {
  text-align: center;
  text-transform: uppercase;
  padding: 12px;

  &--line {
    border-top: 1px solid #e6e6e6;
  }
}
