.product {
  padding: 24px 20px;
  &--last {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}

.product__line-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.product__text {
  text-transform: uppercase;
  color: #111111;
}

.product__sub-text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
