.profit {
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px auto;
  background-color: #68b738;
  width: 100%;
  min-height: 289px;
  padding-top: 188px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    top: 66px;
    left: 50%;
    margin-left: -27px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.profit__text {
  margin: 0 auto;
  width: 165px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .profit {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px auto;
    min-height: 200px;
    padding-top: 72px;
    padding-left: 304px;

    &::before {
      top: 50%;
      left: 91px;
      margin-left: 0;
      margin-top: -34px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .profit__text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .profit {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px auto;
    min-height: 289px;
    padding: 187px 0 0 0;

    &::before {
      top: 65px;
      left: 50%;
      margin-left: -26px;
      margin-top: 0;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .profit__text {
    text-align: center;
  }
}
