.program {
  padding: 15px 0 30px;
  font-size: 16px;
  color: #222222;
}

.program__caption {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0 20px 23px;
}

.program__discription {
  margin: 0;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 41px;
  text-transform: uppercase;
}

.program__block {
  padding: 0 20px;
  text-transform: uppercase;
  margin-bottom: 24px;

  &--control {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 28px;
  }

  &--contacts {
    margin-bottom: 29px;
  }

  &--comment {
    margin-bottom: 27px;
  }

  &--extra {
    margin-bottom: 35px;
  }
}

.program__list {
  @include ul-reset();
  text-transform: uppercase;
}

.program__item {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__container-h {
  position: relative;
  margin-bottom: 33px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    top: 13px;
    z-index: -1;
  }

  &::after {
    width: 100vw;
    right: 0;
  }

  &::before {
    width: calc((100vw - 300px) / 2);
    left: 309px;
  }
}

.program__sub-caption {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  padding-left: 20px;
  background-color: #ffffff;

  &--contacts {
    width: 220px;
  }

  &--comment {
    width: 162px;
  }

  &--extra {
    width: 184px;
  }
}

.program__small-text {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
}

.program__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px;
  width: 140px;
  flex-grow: 1;
  margin-left: 15px;
  position: relative;
  border: 1px solid #e6e6e6;

  &--email,
  &--phone {
    margin-left: 10px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: 93% 50%;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-size: 17px 13px;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-position: 94% 50%;
    background-size: 20px 20px;
  }
}

.program__radio-label {
  padding: 6px 0 6px 45px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 50%;
    margin-top: -15px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 9px #ffffff;
  }
}

.program__radio:checked + .program__radio-label::before {
  background-color: #68b738;
}

.program__radio:disabled + .program__radio-label,
.program__radio:disabled + .program__radio-label::before {
  opacity: 0.3;
  cursor: default;
}

.program__radio:disabled + .program__radio-label::before {
  box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 11px #ffffff;
}

.program__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 152px;
  padding: 14px 13px;
  border: 1px solid #e6e6e6;
  max-width: 100%;
  min-width: 50%;
  max-height: 300px;
  min-height: 150px;
}

.program__checkbox-label {
  padding: 6px 0 6px 45px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 0 1px #cdcdcd;
  }

  &::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 12px;
    left: 5px;
    top: 6px;
    border-left: 2px solid #68b738;
    border-bottom: 2px solid #68b738;
    transform: rotate(-48deg);
    display: none;
  }
}

.program__checkbox:checked + .program__checkbox-label::after {
  display: block;
}
.program__checkbox:disabled + .program__checkbox-label,
.program__checkbox:disabled + .program__checkbox-label::before {
  opacity: 0.3;
  cursor: default;
}

.program__checkbox:disabled + .program__checkbox-label::before {
  box-shadow: inset 0 0 0 1px #bababa;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 0 0 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .program__caption {
    font-size: 60px;
    margin: 0 30px 56px;
  }

  .program__discription {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    padding-right: 340px;
    margin-bottom: 65px;
  }

  .program__block {
    padding: 0 67px 0 71px;
    width: 100%;

    &--characteristics {
      margin-bottom: 72px;
    }

    &--control {
      padding: 22px 26px;
      margin: 0 67px 77px 71px;
      border: 1px solid #e6e6e6;
    }

    &--contacts {
      margin-bottom: 65px;
    }

    &--comment {
      margin-bottom: 64px;
    }

    &--extra {
      margin-bottom: 53px;
    }
  }

  .program__form {
    display: flex;
    flex-wrap: wrap;
  }

  .program__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .program__item {
    width: 100%;
    margin-bottom: 21px;

    &--control {
      margin-bottom: 11px;
    }

    &--extra {
      width: 280px;
      margin-left: 61px;
      margin-bottom: 29px;
    }

    &--extra:nth-child(odd) {
      margin-left: 0;
    }

    &--extra:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  .program__container-h {
    margin-bottom: 76px;
    width: 100%;

    &--extra {
      margin-bottom: 57px;
    }

    &::after {
      top: 22px;
    }

    &::before {
      width: calc((100vw - 750px) / 2);
      left: 757px;
      top: 22px;
    }
  }

  .program__sub-caption {
    font-size: 36px;
    line-height: 36px;
    padding: 0 39px;
    margin-left: 30px;

    &--contacts {
      width: 593px;
    }

    &--comment {
      width: 260px;
    }

    &--extra {
      width: 292px;
    }
  }

  .program__small-text {
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
    margin-top: 15px;
  }

  .program__input {
    height: 51.6px;
    outline: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 18px;
    width: 240px;
    margin-left: 17px;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px #444444;
      border: 1px solid #444444;
    }

    &:invalid {
      box-shadow: inset 0 0 0 1px #ff8282;
      border: 1px solid #ff8282;
    }

    &::placeholder {
      line-height: 30px;
      font-size: 20px;
    }

    &--email,
    &--phone {
      margin-left: 20px;
      padding-right: 40px;
      background-repeat: no-repeat;
      background-position: 96% 50%;
    }

    &--phone {
      margin-left: 15px;
      background-position: 97% 50%;
    }

    &--email:focus,
    &--email:active {
      background-image: url("../img/icon-mail-focus.svg");
    }

    &--email:invalid {
      background-image: url("../img/icon-mail-invalid.svg");
    }

    &--phone:focus,
    &--phone:active {
      background-image: url("../img/icon-phone-focus.svg");
    }

    &--phone:invalid {
      background-image: url("../img/icon-phone-invalid.svg");
    }
  }

  .program__radio-label {
    padding: 11px 0 11px 61px;

    &::before {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 11px #ffffff;
    }
  }

  .program__radio:focus + .program__radio-label::before,
  .program__radio-label:hover::before {
    box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 11px #ffffff;
  }

  .program__radio:active + .program__radio-label::before,
  .program__radio:active + .program__radio-label {
    opacity: 0.3;
  }

  .program__textarea {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    padding: 9px 17px;
    outline: none;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px #444444;
      border: 1px solid #444444;
    }
  }

  .program__checkbox-label {
    padding: 11px 0 11px 59px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      left: 10px;
      top: 11px;
    }
  }

  .program__checkbox:focus + .program__checkbox-label::before,
  .program__checkbox-label:hover::before {
    box-shadow: inset 0 0 0 1px #bababa;
  }

  .program__checkbox:active + .program__checkbox-label::before,
  .program__checkbox:active + .program__checkbox-label {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 0 0 62px;
    width: 1300px;
    margin: 0 auto;
  }

  .program__caption {
    margin: 0 40px 55px;
  }

  .program__discription {
    width: 370px;
    padding-right: 0;
    padding-left: 40px;
    margin-right: 820px;
  }

  .program__block {
    padding: 0 0 0 42px;

    &--characteristics {
      width: 610px;
      margin-bottom: 66px;
    }

    &--control {
      width: 570px;
      margin: 0 0 71px 80px;
      padding: 23px 27px;
    }

    &--contacts {
      margin-bottom: 67px;
    }

    &--comment {
      margin-bottom: 66px;
    }

    &--extra {
      margin-bottom: 59px;
    }
  }

  .program__item {
    &--contacts {
      width: 570px;
      margin-left: 76px;
    }

    &--contacts:nth-child(odd) {
      margin-left: 0;
    }

    &--contacts:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &--extra {
      width: 280px;
      margin-left: 45px;
      margin-bottom: 29px;
    }

    &--extra:nth-child(odd) {
      margin-left: 45px;
    }

    &--extra:nth-child(5n+1) {
      margin-left: 0;
    }

    &--extra:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  .program__container-h {
    &::before {
      width: calc((100vw - 1277px) / 2);
      left: 1280px;
    }
  }

  .program__sub-caption {
    padding: 0 40px;
    margin-left: 0;
  }

  .program__small-text {
    margin-left: 81px;
  }

  .program__input {
    height: 51.6px;

    &--email {
      margin-left: 21px;
    }
  }

  .program__textarea {
    width: 1220px;
  }

  .program__checkbox-label {
    padding: 10px 0 12px 57px;
  }
}
