.program {
  padding: 25px 0 32px;
  font-size: 16px;
  color: #222222;
}

.program__caption {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 35px;
}

.program__discription {
  margin: 0;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.program__block {
  padding: 0 20px;
  text-transform: uppercase;
  margin-bottom: 20px;

  &--control {
    padding: 20px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
  }
}

.program__list {
  @include ul-reset();
  text-transform: uppercase;
}

.program__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__sub-caption {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin-left: 20px;
  margin-bottom: 30px;
}

.program__small-text {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
}

.program__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program__form {
    display: flex;
    flex-wrap: wrap;
  }

  .program__block {
    width: 100%;
  }

  .program__list {
    display: flex;
    flex-wrap: wrap;
  }

  .program__item {
    width: 570px;

    &--extra {
      width: 245px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program__discription {
    width: 100%;
  }

  .program__block--characteristics {
    width: 570px;
  }

  .program__block--control {
    width: 570px;
  }
}
