.social {
  @include ul-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &--line {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }
  width: 100%;
  padding: 22px 22px 18px;
}

.social__item {
  margin-left: 38px;

  &:first-child {
    margin-left: 51px;
  }
}

.social__vk {
  width: 22px;
  height: 12px;
  fill: #666666;
}

.social__insta {
  width: 16px;
  height: 16px;
  fill: #666666;
}

.social__fb {
  width: 10px;
  height: 19px;
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social {
    &--line {
      border-bottom: 0;
      border-top: 0;
    }
    width: 164px;
    padding: 22px 0 18px;
  }

  .social__item {
    margin-left: 28px;

    &:first-child {
      margin-left: 30px;
    }
  }

  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: #68b738;

    &:active {
      opacity: 0.3;
    }
  }

  .social__link:active .social__icon {
    opacity: 0.3;
  }

  .social__vk {
    width: 30px;
    height: 16px;
  }

  .social__insta {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 20px 0 18px;
  }
}
