@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  src: url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: auto;
    position: relative;
  }
}
